///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//  base                                                                     //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

html, body {
    @apply .font-sans .bg-white .leading-normal .text-lg .text-grey-darker .antialiased .bg-fixed;
}

.container {
    @apply .mx-auto .px-4;
}

///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//  focus                                                                    //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

*:focus {
    outline: 0 !important;
}

///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//  links                                                                    //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

a, a:visited, a:active, {
    @apply .text-black;
    text-decoration: none;
    font-weight: normal;
    outline: 0;
}

a:hover, a:focus, {
    @apply .text-blue-darker;
    text-decoration: none;
    font-weight: normal;
    outline: 0;
}

///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//  selections                                                               //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

*::selection {
    @apply .bg-blue-lightest;
}
