<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} | {{ site_name }}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ theme:css src="screen" }}">
    <link rel="stylesheet" type="text/css" media="print" href="{{ theme:css src="print" }}">
    <!--[if IE]>
      <link rel="stylesheet" type="text/css" media="screen" href="{{ theme:css src="styleie" }}">
    <![endif]-->
    {{ site_settings:favicon | favicon }}
    <meta name="description" content="{{ meta_description or subtitle }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="imagetoolbar" content="false" />
    <meta charset="utf-8">
    {{ yield:head }}
  </head>
  <body>
    {{ partial:header }}
    <section id="content">
      {{ template_content }}
    </section>
    {{ partial:footer }}
    {{ theme:js src="app" tag="true" }}
    {{ yield:script }}
  </body>
</html>
